/*place global styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full overflow-hidden; }
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@layer components{
	.animate-fade {
		@apply 
	}
}